# Virtual environment
venv/

# IDE settings
.idea/

# Developer-specific files
scripts/
test.py

# Linter
.ruff_cache/

# Trash and cache
__pycache__/
.ropeproject/

# Environment variables
.env

# Logs and databases
games.pkl
history.txt

# Git and for github files
.git/
.gitignore
README.md
.env.example
